@font-face {
    font-family: "LDMONG16100802BT";
    src: url("../fonts/LD-MONG-BT.ttf") format("ttf");
    src: url("../fonts/LD-MONG-BT.eot") format("eot");
    src: url("../fonts/LD-MONG-BT.svg") format("svg");
    src: url("../fonts/LD-MONG-BT.otf") format("otf");
    src: url("../fonts/LD-MONG-BT.woff") format("woff");
}
#inputVertical:focus{
    border-color: #129FEA;
}

#inputVertical:focus ~ .footer{
    display: none;
}

.inputVertical{
    font-family: 'LDMONG16100802BT',"Times New Roman", Times, serif;
    -webkit-writing-mode:vertical-rl;
    -moz-writing-mode: vertical-rl;
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
    user-modify: read-write-plaintext-only;
    -moz-user-modify: read-write-plaintext-only;
    -webkit-user-modify: read-write-plaintext-only;
    width: 40px;
    font-size: 22px;
    outline:none;
    height: 100%;
    padding: 8px;
    white-space: nowrap;
    float: left;
    margin-left: 0.1em;
    display: inline-block;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 3px #ddd;
    border-radius: 4px;
    vertical-align: middle;
    box-sizing:border-box;
    -ms-box-sizing:border-box;
    -moz-box-sizing:border-box; /* Firefox */
    -webkit-box-sizing:border-box; /* Safari */
    -webkit-rtl-ordering: logical;
    -webkit-user-select: text;
}

.buttonVertical{
    -webkit-writing-mode:vertical-rl;
    -moz-writing-mode: vertical-rl;
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
    display: block;
    background: rgb(0, 120, 231);
    color: #fff;
    float: left;
    height: 100%;
    width: 36px;
    padding: 8px;
    font-size: 18px;
    box-sizing:border-box;
    -ms-box-sizing:border-box;
    -moz-box-sizing:border-box; /* Firefox */
    -webkit-box-sizing:border-box; /* Safari */
    text-align: center;
    border-radius: 4px;
    margin-left: 0.1em;
}

#buttonVertical:active {
    box-shadow: 0 0 0 1px rgba(0,0,0, 0.15) inset, 0 0 6px rgba(0,0,0, 0.20) inset;
    border-color: #000;
}

#buttonVertical:focus {
    outline: 0;
}

#buttonVertical:hover{
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(transparent), color-stop(40%, rgba(0,0,0, 0.05)), to(rgba(0,0,0, 0.10)));
    background-image: -webkit-linear-gradient(transparent, rgba(0,0,0, 0.05) 40%, rgba(0,0,0, 0.10));
    background-image: -moz-linear-gradient(top, rgba(0,0,0, 0.05) 0%, rgba(0,0,0, 0.10));
    background-image: -o-linear-gradient(transparent, rgba(0,0,0, 0.05) 40%, rgba(0,0,0, 0.10));
    background-image: linear-gradient(transparent, rgba(0,0,0, 0.05) 40%, rgba(0,0,0, 0.10));
}
.view{
    max-height:670px;
    max-width:800px;
    font-family: AoyunWhite,serif;
    writing-mode:vertical-lr;
    -webkit-writing-mode:vertical-lr;
    -moz-writing-mode: vertical-lr;
    -o-writing-mode: vertical-lr;
    -ms-writing-mode: tb-lr;
    text-orientation: sideways-right;
    -webkit-text-orientation: sideways-right;
    text-justify: inter-ideograph;
    text-align:justify;
}

.text-vertical{
    float:left;
    color:#4874b6;
    -webkit-writing-mode: vertical-lr;
    -o-writing-mode: vertical-lr;
    -ms-writing-mode: tb-lr;
    writing-mode: vertical-lr;
    writing-mode: tb-lr;
    -moz-writing-mode: vertical-lr;
    -webkit-text-orientation: sideways-right;

    layout-flow: vertical-ideographic;
    white-space: nowrap;
    font-family: 'LDMONG16100802BT';
    font-size:22px;
    margin: 0;
}

.news{
    color: #333333;
    height: 450px;
}

.news-title{
    font-size: 28px;
    font-weight: 300;
    border-right: 2px solid #2f374c;
}

.news-item{
    padding: 0 5px;
    font-size: 16px;
    color: #555555;
}

.news-item p span{
    position: absolute;
    bottom: 0;
}

#myTab li{
    font-size: 15px;
}

.events_box{
    float: left;
    width: 150px;
    height: 450px;
    margin: 0;
}

.event_left-item .icon_2 i {
    font-size: 20px;
    margin-right: 0;
    float: left;
    vertical-align: middle;
    color: #999;
}

.img-responsive{
    float: left;
}

.events_box_bottom{
    width: 100%;
    height: 300px;
    float: left;
    padding-top: 10px;
    font-size: 18px;
    color: #888888;
}

.events_box{
    position: relative;
    border: 1px solid #ffffff;
}

.icon_2{
    float: left;
    font-size: 13px;
    margin-bottom: 10px;
}

.img-responsive1{
    position: absolute;
    margin: 0;
    width: 150px;
    top: 0;
    left: 0;
}

.event_right{
    margin-top: 140px;
    font-size: 16px;
}

.event_right h3 {
    margin: 0 5px;
}

.event_left{
    position: absolute;
    bottom: 0;
    right: 0;
}
